/* .form {
  max-width: 55rem;
  margin: 2rem auto;
  background-color: var(--color-blue-800);
  border: 3px solid var(--color-primary-800);
  border-radius: 1.6rem;
  padding: 1rem;
}

.form label,
.form input,
.form textarea {
  display: block;
  width: 100%;
  font-size: medium;
}

.form input,
.form textarea,
.form select {
  font: inherit;
  font-size: medium;
  padding: 0.25rem;
  background-color: rgb(45, 89, 104);
  border: 1px solid lightgray;
  color: white;
}

.actions {
  display: flex;
  gap: 1rem;
  justify-content: flex-end;
}

.actions button {
  font: inherit;
  cursor: pointer;
  padding: 0.5rem 1.5rem;
  border-radius: 4px;
  background-color: var(--color-blue-500);
  color: var(--color-blue-800);
  border: none;
}

.actions button[type="button"] {
  background-color: transparent;
  color: var(--color-blue-300);
}

.actions button:hover {
  background-color: var(--color-primary-300);
  color: var(--color-blue-500);
}

.actions button[type="button"]:hover {
  background-color: var(--color-primary-300);
}

.actions .buttonDisabled {
  background-color: darkgray;
}

.actions .buttonDisabled:hover {
  background-color: darkgray;
  color: var(--color-blue-500);
} */

#event-form label {
  display: block;
  font-weight: bold;
  font-size: 0.85rem;
  margin-bottom: 0.25rem;
  color: #3c4249;
  text-transform: uppercase;
}

#event-form input,
#event-form textarea {
  font: inherit;
  font-size: 1.1rem;
  padding: 0.25rem;
  border-radius: 4px;
  border: 1px solid #ccc;
  width: 100%;
}

.controls-row {
  display: flex;
  gap: 2rem;
}

.form-actions {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 2rem;
}
