.footer {
  background-color: var(--color-blue-900);
  display: flex;
  padding-top: 3rem;
  padding-left: 20rem;
  padding-right: 20rem;
  justify-content: center;
  margin-top: 5rem;
}

.footer > div {
  border: 1px solid white;
  width: 25%;
}

.footer div span {
  font-size: 14px;
  margin-left: 10px;
  padding-bottom: 2px;
}

.logo {
  width: 40%;
  padding: 0;
  border-radius: 20px;
  margin-left: 20px;
  display: block;
  margin-bottom: 15px;
}

.newsLetter {
  margin: 10px;
}

.newsletterContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
}
