.header {
  max-width: 100%;
  margin: auto;
  padding: 1rem;
  display: flex;
  justify-content: space-between;
  /* background-color: #10242b; */
  background-color: var(--color-blue-900);
  align-items: center;
}

.list {
  display: flex;
  gap: 5rem;
}

.list a {
  padding: 1rem;
  text-decoration: none;
  font-size: 20px;
  color: var(--color-primary-500);
}

.list a:hover,
.list a.active {
  color: var(--color-primary-900);
}

.logo {
 width: 100px;
 padding: 0;
 border-radius: 20px;
}
