.header {
  max-width: 100%;
  margin: auto;
  padding: 1rem;
  display: flex;
  justify-content: space-between;
  /* background-color: #10242b; */
  background-color: var(--color-blue-900);
  align-items: center;
  border-bottom: 4px solid black;
}

.list {
  display: flex;
  gap: 5rem;
  align-items: center;
}

.list a {
  padding: 1rem;
  text-decoration: none;
  font-size: 20px;
  color: var(--color-primary-500);
}

.list a:hover,
.list a.active {
  color: var(--color-primary-900);
  border-bottom: 6px solid var(--color-primary-900);
  border-radius: 6px;
}

.logo {
  width: 100px;
  padding: 0;
  border-radius: 20px;
}

.list button {
  border: none;
  background-color: transparent;
  text-decoration: none;
  color: var(--color-primary-500);
  cursor: pointer;
  padding: 1rem;
  font-size: 20px;
}

.list button:hover {
  color: var(--color-primary-900);
  border-bottom: 6px solid var(--color-primary-900);
  border-radius: 6px; 
}
