.header {
  max-width: 100%;
  margin: auto;
  padding: 2rem;
  display: flex;
  justify-content: space-between;
  background-color: #242424;
}

.list {
  display: flex;
  gap: 5rem;
}

.list a {
  text-decoration: none;
  font-size: 20px;
  color: var(--color-primary-400);
}

.list a:hover,
.list a.active {
  color: var(--color-primary-800);
}
